<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy Now</title>
</head>
<body>
   <center> <h2>Scan the code to make payments</h2></center>
    <center><img src="static/prices/powershell_price.jpeg" width="400" alt=""></center>
   <center> <h2>
        Thanks for visitng New Way Professionals. Once the payment is made, Please contact support team of 
        new way professsionals to gain access to the course.   </h2> </center>
      <center><h2>  M.No : +91-8585944373
        Email: info@newwayprofessionals.in </h2> </center>

  

</body>
</html>